pylint
Flask
Flask-SQLAlchemy
pymysql
Flask-migrate
cryptography
python-dotenv
bcrypt
gunicorn
flask-bcrypt
flask-jwt-extended
flask-cors
Flask-Mail
itsdangerous
flasgger
redis
requests
sentence-transformers
python-docx
reportlab