name: Pytest with Coverage and Static Analysis

on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -U pytest coverage Flask
      - run: coverage run -m pytest -v
      - run: coverage report -m --fail-under=80
      - run: coverage html
      - uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: htmlcov

  static-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - run: pip install pylint
      - run: pip install -r requirements.txt
      - run: pip install Flask

      - run:  pylint $(git ls-files '*.py')
